# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Packaging files
*.egg-info/
.eggs/
build/
dist/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
web/__pycache__/

# Packaging files
*.egg-info/
.eggs/
build/
dist/